@-webkit-keyframes sway {
  0% {
      -webkit-transform: rotate(10deg)
  }
  40% {
      -webkit-transform: rotate(52deg)
  }
  100% {
      -webkit-transform: rotate(15deg)
  }
}

@-o-keyframes sway {
  0% {
      -o-transform: rotate(10deg)
  }
  40% {
      -o-transform: rotate(52deg)
  }
  100% {
      -o-transform: rotate(15deg)
  }
}

@-ms-keyframes sway {
  0% {
      -ms-transform: rotate(10deg)
  }
  40% {
      -ms-transform: rotate(52deg)
  }
  100% {
      -ms-transform: rotate(15deg)
  }
}

@-moz-keyframes sway {
  0% {
      -moz-transform: rotate(10deg)
  }
  40% {
      -moz-transform: rotate(52deg)
  }
  100% {
      -moz-transform: rotate(15deg)
  }
}

@keyframes sway {
  0% {
      transform: rotate(10deg)
  }
  40% {
      transform: rotate(52deg)
  }
  100% {
      transform: rotate(15deg)
  }
}

.sakura {
  background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
  background: -o-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
  background: -ms-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
  background: -moz-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
  background: linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
  -webkit-border-radius: 12px 1px;
  -o-border-radius: 12px 1px;
  -ms-border-radius: 12px 1px;
  -moz-border-radius: 12px 1px;
  border-radius: 12px 1px;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;
  position: absolute;

  animation: sway 2s infinite linear;
}

.type2 .sakura {
    background: -webkit-linear-gradient(120deg, rgba(158, 255, 139, 0.9), rgba(158, 255, 139, 0.9));
    background: -o-linear-gradient(120deg, rgba(158, 255, 139, 0.9), rgba(158, 255, 139, 0.9));
    background: -ms-linear-gradient(120deg, rgba(158, 255, 139, 0.9), rgba(158, 255, 139, 0.9));
    background: -moz-linear-gradient(120deg, rgba(158, 255, 139, 0.9), rgba(158, 255, 139, 0.9));
    background: linear-gradient(120deg, rgba(158, 255, 139, 0.9), rgba(158, 255, 139, 0.9));
}