:root {
  color-scheme: light only;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button,option{box-sizing: border-box;margin:0;padding:0}
body,h1,h2,h3,h4,th,td,input,select.textarea{font-family:"Gowun Dodum", 'NanumGothic', 'MalgunGothic', '맑은고딕', Dotum, 돋움;font-weight:normal}
html, body, p, span, ul, li, button, input{font-family: "Gowun Dodum", 'NanumGothic', 'MalgunGothic', '맑은고딕', Dotum, 돋움;}
div, a {box-sizing: border-box;}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background-color: inherit;
}
body {
  height: 90vh;
  /* width: 100vw; */

  --type0: #42a5e9;
  --type1: #ff8395;
  --type2: #06c300;
}

.active button {
  font-weight: 900;
}
.line {
  font-weight: 500;
}

main {
  width: 100%;
  text-align: center;
}


.music_btn {
  display: inline-block;
  align-items: baseline;
  width: 24px;
  height: 24px;
}
.music_btn img {
  width: 100%;
  height: 100%;
  margin-top: 2px;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

header .types_wrap {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

header .types_wrap .flex {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

header .types_wrap button {
  font-size: 1rem;
}

.background {
  overflow: hidden;
  box-sizing: border-box;
}

main .photo-wrap {
  width: 80%;
  max-width: 400px;
  min-width: 160px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0.5rem;

  border: 2px solid #fff;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #fff;
  margin-top: 1vw;
}
h3 {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  margin-top: 2rem;
}

.img {
  width: 80%;
  height: 70vw;
  max-height: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

  border: 2px solid #fff;

  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.img p {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #fff;
}

.img .day {
  margin-top: 1.8rem;
  font-size: 3rem;
}

.img #day_count {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #fff;
}

.img .time {
  margin-top: 1vw;
  display: none;
  font-family: "Gowun Dodum", 'NanumGothic', 'MalgunGothic', '맑은고딕', Dotum, 돋움;
}

.img #end {
  margin-top: 1vw;
  display: none;
  font-family: "Gowun Dodum", 'NanumGothic', 'MalgunGothic', '맑은고딕', Dotum, 돋움;
}

.btn-wrap {
  width: 80%;
  max-width: 400px;
  min-width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-family: "Gowun Dodum", "Gowun Dodum", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
}

.btn-wrap div {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1rem;
}
.btn-wrap div:hover {
  background-color: #fff;
}
.btn-wrap div + div {
  margin-top: 1rem;
}
.btn-wrap div a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.div_wrap {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  width: 80%;
  margin-top: 1rem;
  padding: 4rem 2rem;
  background-color: #fff;
  font-size: 1.1rem;
}
.bold {
  font-weight: bold;
}

.info {
  width: 80%;
  font-family: "Gowun Dodum", "Gowun Dodum", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: rgba(255,255,255,0.6);
  padding: 2rem 1rem;
}
.info .info_date {
  font-weight: 900;
  font-size: 2rem;
}
.info .info_time {
  margin-top: 0.3rem;
  font-weight: 500;
  font-size: 1.8rem;
}
.info .info_place {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.calender {
  width: 80%;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  padding: 1.2rem;
  border-top: 2px solid #fff;
  font-size: 1rem;
}

@media screen and (max-width: 400px){
  header .types_wrap {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
  header .types_wrap .flex {
    gap: 0.5rem;
  }

  header .types_wrap button {
    font-size: 0.8rem;
  }

  .music_btn {
    width: 18px;
    height: 18px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 5vw;
  }


  .intro {
    margin-top: 1vw;
    padding: 3rem 2rem;
    font-size: 0.9rem;
  }
  .intro .poem {
    font-style: italic;
  }


  .info .info_date {
    font-size: 1.7rem;
  }
  .info .info_time {
    margin-top: 1vw;
    font-size: 1.3rem;
  }
  .info .info_place {
    margin-top: 2vw;
    font-size: 0.8rem;
  }

  svg {
    width: 25px !important;
  }

  main .photo-wrap {
    margin-top: 4rem;
    padding: 8vw 3vw 5vw;
  }

  .img {
    margin-top: 3vw;
  }

  .img .day {
    margin-top: 5vw;
    font-size: 2rem;
  }

  .img .time {
    margin-top: 1vw;
    font-size: 0.8rem;
  }

  .img #end {
    margin-top: 1vw;
    font-size: 0.8rem;
  }

  .types_wrap button {
    font-size: 0.8rem;
  }

  .btn-wrap,
  .info {
    font-size: 1rem;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .btn-wrap div + div {
    margin-top: 3vw;
  }

  footer {
    font-size: 0.8rem;
  }
}


/* 배경화면별 스타일 */
.type0 {
  background-color: #edf8fe;
}
.type0 .background {
  background: linear-gradient(
    to bottom,
    rgba(237,248,254, 0) 10%,
    rgba(237,248,254, 0.5) 40%,
    rgba(237,248,254, 0.7) 60%,
    rgba(237,248,254, 1) 100%
  ),
  url('../img/sky_bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type0 .img {
  background-image: url('../img/sky.webp');
  background-size: 105%;
}
.type0 .btn-wrap div:hover {
  color: var(--type0);
}
.type0 .active button {
  color: var(--type0);
}
.type0 .line {
  color: var(--type0);
}
.type0 .em {
  color: var(--type0);
}

.type1 {
  background-color: #8aabdd;
}
.type1 .background {
  background-image: url('../img/blossoms_bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type1 .img {
  background-image: url('../img/blossoms.webp');
  background-size: 75%;
}
.type1 .btn-wrap div:hover {
  color: var(--type1);
}
.type1 .active button {
  color: var(--type1);
}
.type1 .line {
  color: var(--type1);
}
.type1 .em {
  color: var(--type1);
}

.type2 {
  background-color: #447ad4;
}
.type2 .background {
  background-image: url('../img/leaf_bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type2 .img {
  background-image: url('../img/leaf.webp');
  background-size: 135%;
}
.type2 .btn-wrap div:hover {
  color: var(--type2);
}
.type2 .active button {
  color: var(--type2);
}
.type2 .line {
  color: var(--type2);
}
.type2 .em {
  color: var(--type2);
}


.contact_member_action object {
  fill: #ff0000;
}




.snowfall-flakes {
  /* -webkit-animation: 16.512s linear 0s 1 normal none running fall, 18s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-5; */
  /* -o-animation: 16.512s linear 0s 1 normal none running fall, 18s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-5; */
  /* -ms-animation: 16.512s linear 0s 1 normal none running fall, 18s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-5; */
  /* -moz-animation: 16.512s linear 0s 1 normal none running fall, 18s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-5; */
  /* animation: 16.512s linear 0s 1 normal none running fall, 18s linear 0s infinite normal none running blow-medium-right, 3s linear 0s infinite normal none running sway-5; */
}